<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="{{ url_for('frontend', path='/spectre-0.5.9/dist/spectre.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('frontend', path='/spectre-0.5.9/dist/spectre-exp.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('frontend', path='/spectre-0.5.9/dist/spectre-icons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('frontend', path='/styles.css') }}" />
    <title>{% block title %}Page replacement visualizer{% endblock %}</title>
  </head>

  <body>
    <header class="navbar mb-8">
      <section class="navbar-section">
        <a href="{{ url_for('algorithms') }}" class="btn btn-link">The Algorithms</a>
        <a href="{{ url_for('visualize') }}" class="btn btn-link">Visualize</a>
      </section>
      <section class="navbar-center">
        <!-- centered logo or brand -->
        <a href="{{ url_for('home') }}" class="navbar-brand hero-lg"><b>Page replacement visualizer</b></a>
      </section>
      <section class="navbar-section">
        <a href="{{ url_for('imprint') }}" class="btn btn-link">Imprint</a>
        <a href="https://github.com/fabibec/page-replace-visualizer" class="btn btn-link">GitHub</a>
      </section>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>






