html {
  margin: 0;
  padding: 0;
}

.seperator {
  height: 2px;
  border-width: 0;
  color: #3b4351;
  background-color: #3b4351;
}

.navbar {
  margin: 1rem;
  .navbar-brand {
    font-size: 1.5rem;
  }
}