{% extends "base.html" %}
{% block title %}Page Replacement Visualizer{% endblock %}
{% block content %}
<main class="container">
  <div class="columns">
    <div class="column col-8 col-md-12 col-mx-auto landing-text-col">
      <div class="empty landing-text-container">
        <p class="empty-subtitle">
          Page replacement algorithms are essential in computer science,
        particularly in managing memory efficiently. As systems encounter
        memory shortages, these algorithms play a vital role in deciding which
        pages should be swapped out from memory (page eviction) to accommodate
        new ones (page allocation). Visualizing these algorithms provides a
        clearer understanding of their functionality and performance. This web
        page serves as a visual aid to comprehend and compare popular page
        replacement algorithms, namely First-In-First-Out (FIFO), Optimal
        (OPT), Second Chance, and Least Recently Used (LRU). Leveraging the
        power of Chart.js, a dynamic and intuitive JavaScript library, we
        depict the behavior and efficiency of these algorithms in managing
        memory pages.  
        </p>
        <div class="empty-action">
          <button class="btn btn-primary" onclick="window.location.href='{{ url_for('visualize') }}';">Try it!</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--<script src="{{ url_for('frontend', path='/static/script.js') }}"></script>-->
{% endblock%}