{% extends "base.html" %} {% block title %}Page Replacement - Imprint{% endblock
%} {% block content %}
<main class="container">
  <!--div class="text-left">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>
      Florian Remberger <br />
      Musterweg<br />
      12345 Musterstadt <br />
    </p>
    <p>
      <strong>Kontakt:</strong> <br />
      E-Mail: <a href="mailto:agileboys@proton.me">agileboys@proton.me</a>
    </p>
    <h4>Haftungsausschluss:</h4>
    <p>
      <strong>Haftung für Inhalte</strong><br /><br />
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
      keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
      für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
      verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
      überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
      unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
      der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
      entfernen.<br /><br /><strong>Haftung für Links</strong><br /><br />
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
      Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br /><br /><strong
        >Urheberrecht</strong
      ><br /><br />
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
      Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
      Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
      des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen
      Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
      privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
      dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
      Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
      aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
      Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
      entfernen.<br /><br /><strong>Datenschutz</strong><br /><br />
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe
      personenbezogener Daten möglich. Soweit auf unseren Seiten
      personenbezogene Daten (beispielsweise Name, Anschrift oder
      eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
      freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
      nicht an Dritte weitergegeben. <br />
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der
      Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
      lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
      möglich. <br />
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
      Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
      angeforderter Werbung und Informationsmaterialien wird hiermit
      ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
      ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
      Werbeinformationen, etwa durch Spam-Mails, vor.<br />
    </p>
    <h4>Externe Quellen:</h4>
    <p><strong><a href="https://www.flaticon.com/free-icons/ram" title="ram icons"
      >favicon</a></strong><br />
      <strong><a href="https://github.com/fabibec/page-replace-visualizer"
        >GitHub</a></strong>
    </p>
    <div class="text-center">
      Impressum vom
      <a href="https://www.impressum-generator.de">Impressum Generator</a> der
      <a href="https://www.kanzlei-hasselbach.de/"
        >Kanzlei Hasselbach, Rechtsanwälte für Arbeitsrecht und Familienrecht</a
      >
    </div>
  </div-->
  <div class="text-left">
    <h1>Imprint</h1>
    <p>Information according to § 5 TMG</p>
    <p>
      Max Mustermann <br />
      Musterweg<br />
      12345 Musterstadt <br />
      GERMANY <br />
    </p>
    <p>
      <strong>Contact:</strong> <br />
      E-Mail: <a href="mailto:agileboys@proton.me">agileboys@proton.me</a>
    </p>
    <h4>Disclaimer:</h4>
    <p>
      <strong>Liability for content</strong><br /><br />
      The contents of our pages were created with the greatest care. For the
      correctness, completeness and topicality of the contents, however
      assume any liability. As a service provider we are according to § 7 Abs.1 TMG
      for own contents on these pages according to the general laws
      responsible. However, according to §§ 8 to 10 TMG, as a service provider we are
      not obliged to monitor transmitted or stored third-party information or to investigate
      or to investigate circumstances that indicate illegal activity.
      activity. Obligations to remove or block the use of
      use of information in accordance with general laws remain unaffected by this.
      unaffected. However, liability in this respect is only possible from the time
      knowledge of a specific infringement. If we become aware
      we will immediately remove this content as soon as we become
      remove such content.<br /><br /><strong>Liability for links</strong><br /><br />
      Our website contains links to external websites of third parties over whose
      contents we have no influence on. We can therefore accept no liability for this
      content. Responsibility for the content of linked
      the respective provider or operator of the pages is always
      responsible. The linked pages were checked at the time of linking
      checked for possible legal violations. Illegal contents were not recognizable at the
      not recognizable at the time of linking. A permanent content-related
      content of the linked pages is not reasonable without concrete evidence
      of a legal infringement. As soon as we become aware of
      we will remove such links immediately.<br /><br /><strong
        >Copyright</strong
      ><br /><br />
      The contents and works created by the site operators on these
      pages are subject to German copyright law. The reproduction,
      processing, distribution and any kind of utilization outside the limits of copyright law
      of copyright law require the written consent of the respective author or creator.
      author or creator. Downloads and copies of this site are only permitted for
      private, non-commercial use. Insofar as the content on
      not created by the operator, the copyrights of third parties are respected.
      third parties are respected. In particular, third-party content is marked as such.
      marked as such. Should you nevertheless become aware of a copyright infringement
      we request that you notify us accordingly. If
      we become aware of legal infringements, we will remove such content immediately.
      remove such content.<br /><br /><strong>Data protection</strong><br /><br />
      The use of our website is generally possible without providing
      personal data. As far as on our sides
      personal data (e.g. name, address or e-mail address) are collected
      e-mail addresses) are collected, this is always done, as far as possible, on a
      voluntary basis. This data will not be passed on to third parties
      to third parties without your express consent. <br />
      We would like to point out that data transmission over the Internet (e.g. when communicating by
      communication by e-mail) can have security gaps. A
      complete protection of data against access by third parties is not
      possible. <br />
      The use of contact data published in the context of the imprint obligation
      by third parties for the purpose of sending unsolicited advertising
      advertising and information material that has not been expressly
      expressly contradicted. The operators of the pages reserve the right to
      expressly reserve the right to take legal action in the event of unsolicited
      advertising information, for example through spam mails.<br />
    </p>
    <div class="text-center">
      Imprint from
      <a href="https://www.impressum-generator.de">imprint generator</a> of
      <a href="https://www.kanzlei-hasselbach.de/"
        >law firm Hasselbach, lawyers for labor law and family law</a
      >
    </div>
  </div>
</main>
{% endblock%}
