{% extends "base.html" %} {% block title %}Page Replacement - Imprint{% endblock
%} {% block content %}
<main class="main-content">
  <div class="columns">
    <div class="column col-10 col-md-12 col-mx-auto">
      <div class="card">
        <div class="card-header">
          <div class="card-title h3">Imprint</div>
          <div class="card-subtitle text-gray">Information according to §5 TMG</div>
        </div>
        <div class="card-body">
          <p>
            Florian Remberger <br />
            Galgenbergstraße 29<br />
            93053 Regensburg <br />
            GERMANY <br />
          </p>
          <p>
            <strong>Contact:</strong> <br />
            E-Mail: <a href="mailto:f83284618@gmail.com">f83284618@gmail.com</a>
          </p>
          <h4>Disclaimer:</h4>
          <p>
            <strong>Liability for content</strong><br /><br />
            The contents of our pages were created with the greatest care. For the
            correctness, completeness and topicality of the contents, however
            assume any liability. As a service provider we are according to § 7 Abs.1 TMG
            for own contents on these pages according to the general laws
            responsible. However, according to §§ 8 to 10 TMG, as a service provider we are
            not obliged to monitor transmitted or stored third-party information or to investigate
            or to investigate circumstances that indicate illegal activity.
            activity. Obligations to remove or block the use of
            use of information in accordance with general laws remain unaffected by this.
            unaffected. However, liability in this respect is only possible from the time
            knowledge of a specific infringement. If we become aware
            we will immediately remove this content as soon as we become
            remove such content.<br /><br /><strong>Liability for links</strong><br /><br />
            Our website contains links to external websites of third parties over whose
            contents we have no influence on. We can therefore accept no liability for this
            content. Responsibility for the content of linked
            the respective provider or operator of the pages is always
            responsible. The linked pages were checked at the time of linking
            checked for possible legal violations. Illegal contents were not recognizable at the
            not recognizable at the time of linking. A permanent content-related
            content of the linked pages is not reasonable without concrete evidence
            of a legal infringement. As soon as we become aware of
            we will remove such links immediately.<br /><br /><strong
              >Copyright</strong
            ><br /><br />
            The contents and works created by the site operators on these
            pages are subject to German copyright law. The reproduction,
            processing, distribution and any kind of utilization outside the limits of copyright law
            of copyright law require the written consent of the respective author or creator.
            author or creator. Downloads and copies of this site are only permitted for
            private, non-commercial use. Insofar as the content on
            not created by the operator, the copyrights of third parties are respected.
            third parties are respected. In particular, third-party content is marked as such.
            marked as such. Should you nevertheless become aware of a copyright infringement
            we request that you notify us accordingly. If
            we become aware of legal infringements, we will remove such content immediately.
            remove such content.<br /><br /><strong>Data protection</strong><br /><br />
            The use of our website is generally possible without providing
            personal data. As far as on our sides
            personal data (e.g. name, address or e-mail address) are collected
            e-mail addresses) are collected, this is always done, as far as possible, on a
            voluntary basis. This data will not be passed on to third parties
            to third parties without your express consent. <br />
            We would like to point out that data transmission over the Internet (e.g. when communicating by
            communication by e-mail) can have security gaps. A
            complete protection of data against access by third parties is not
            possible. <br />
            The use of contact data published in the context of the imprint obligation
            by third parties for the purpose of sending unsolicited advertising
            advertising and information material that has not been expressly
            expressly contradicted. The operators of the pages reserve the right to
            expressly reserve the right to take legal action in the event of unsolicited
            advertising information, for example through spam mails.<br />
          </p>
        </div>
        <div class="card-footer">
          Imprint from
          <a href="https://www.impressum-generator.de">imprint generator</a> of
          <a href="https://www.kanzlei-hasselbach.de/">law firm Hasselbach, lawyers for labor law and family law</a>
          <p><strong><a href="https://www.flaticon.com/free-icons/ram" title="ram icons">Favicon from Flaticon</a></strong><br />
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock%}
