{% extends "base.html" %}
{% block extraStylesheet %}<link rel="stylesheet" href="{{ url_for('frontend', path='/static/extra.css') }}" />{% endblock %}
{% block title %}Page Replacement - Visualize{% endblock %}
{% block content %}
<main class="container">
  <div class="columns">
    <!--Fixed Sidebar-->
    <div class="column col-4 col-fixed">
      <div class="card card-last">
        <div class="card-header">
          <div class="card-title h3">Global Settings</div>
        </div>
        <div class="card-body">
          <div class="divider text-center" data-content="Info"></div>
          <div class="text-left">
            <p>
              To be able to start, a valid <b>reference string</b> must first be created.<br />
              You can either have this generated or enter it yourself <b>(1, 3, 4, 5,
              2, ...)</b>.<br /> When generating, you also have the advantage of activating
              <b>localization</b> in order to obtain a more realistic output.
            </p>
          </div>
          <div class="divider text-center" data-content="Reference String"></div>
          <form id="refStringForm">
             <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <div class="form-group">
              <label class="form-label form-inline float-left" for="refStrSize">Frames:</label>
              <label class="form-label form-inline float-right" id="refStrSizeValue" for="refStrSize">10</label>
              <input class="slider tooltip" type="range" min="4" max="30" value="10" oninput="this.setAttribute('value', this.value);updateSliderValue('refStrSize', 'refStrSizeValue');" id="refStrSize">
            </div>
            <div class="form-group">
              <label class="form-label form-inline float-left" for="localityTggl">Localization:</label>
              <label class="form-switch form-inline float-right switch-locality">
                <input type="checkbox" id="localityTggl">
                <i class="form-icon"></i>
              </label>
            </div>
            <div class="form-group">
              <!--Prevent Enter submit-->
              <input type="number" style="display: none;"/>
              <input
                class="form-input"
                type="text"
                id="refStrInpt"
                placeholder="Type in or generate reference string"
              />
              <p class="form-input-hint" id="refStrInptMsg"></p>
            </div>
            <div class="form-group">
              <!--Add class loading when calling API-->
              <button class="btn btn-primary" id="generateRefStr" type="submit">Generate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Scrollable Content-->
    <div class="column col-8 col-scroll">
      <!--Compare Faults-->
      <div class="card card-scroll scroll-hidden">
        <div class="card-header">
          <div class="card-title h3">Compare Faults</div>
          <div class="divider text-center" data-content="Settings"></div>
            <form id="faultForm">
              <div class="form-group">
                <label class="form-checkbox form-inline">
                  <input type="checkbox" onclick="toggleAllCheckboxes(this, 'faults');"><i class="form-icon"></i>Select All
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faults" id="faultsFifoSlct" checked=""><i class="form-icon"></i>FIFO
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faults" id="faultsScSlct" checked=""><i class="form-icon"></i>SC
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faults" id="faultsLruSlct"><i class="form-icon"></i>LRU
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faults" id="faultsOptSlct"><i class="form-icon"></i>OPT
                </label>
                <p class="form-input-hint" id="faultsMsg"></p>
              </div>
              <div class="form-group">
                <label class="form-label form-inline float-left" for="faultsFrameSize">Length:</label>
                <label class="form-label form-inline float-right" id="FrameSizeValue" for="faultsFrameSize">10</label>
                <input class="slider tooltip" type="range" min="2" max="12" value="6" oninput="this.setAttribute('value', this.value);updateSliderValue('faultsFrameSize', 'FrameSizeValue');" id="faultsFrameSize">
              </div>
            </form>
          <div class="divider text-center" data-content="Chart" id="faultComparisonDivider"></div>
            <canvas id="faultComparisonCanvas"></canvas>  
          </div>
        <div class="card-body ">
        </div>
      </div>
      <!--Compare Faults Range-->
      <div class="card card-scroll scroll-hidden">
        <div class="card-header">
          <div class="card-title h3">Compare Faults over Range</div>
          <div class="divider text-center" data-content="Settings"></div>
            <form id="faultRangeForm">
              <div class="form-group">
                <label class="form-checkbox form-inline">
                  <input type="checkbox" onClick="toggleAllCheckboxes(this, 'faultsRange');"><i class="form-icon" ></i>Select All
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faultsRange" id="faultsRangeFifoSlct" checked=""><i class="form-icon"></i>FIFO
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faultsRange" id="faultsRangeScSlct" checked=""><i class="form-icon"></i>SC
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faultsRange" id="faultsRangeLruSlct" ><i class="form-icon"></i>LRU
                </label>
                <label class="form-checkbox form-inline">
                  <input type="checkbox" name="faultsRange" id="faultsRangeOptSlct"><i class="form-icon"></i>OPT
                </label>
                <p class="form-input-hint" id="faultsRangeMsg"></p>
              </div>
              <div class="form-group" id="formGroupRange">
                <label class="form-label">Range:</label>
                <div class="input-group">
                  <input class="form-input" id="faultsRangeMinVal" min=2 max=11 value=5 type="number">
                  <input class="form-input" id="faultsRangeMaxVal" min=3 max=12 value=10 type="number">
                </div>
                <p class="form-input-hint" id="faultsFrameRangeMsg"></p>
              </div>
            </form>
            <div class="divider text-center" data-content="Chart" id="faultRangeComparisonDivider"></div>
              <canvas id="faultRangeComparisonCanvas"></canvas>  
            </div> 
        <div class="card-body">
          <!--canvas id="faultRangeComparisonCanvas"></canvas-->  
        </div> 
      </div>
      <!--Memory View-->
      <div class="card card-last scroll-hidden">
        <div class="card-header">
          <div class="card-title h3">Memory view</div>
          <div class="divider text-center" data-content="Settings"></div>
          <form id="memoryViewForm">
            <div class="form-group">
              <label class="form-label form-inline float-left" for="algorithmSelect">Algorithm:</label>
              <select class="form-select" id="algorithmSelect">
                <option value="FIFO">FIFO</option>
                <option value="SC">SC</option>
                <option value="LRU">LRU</option>
                <option value="OPT">OPT</option>
              </select>
            </div>  
            <div class="form-group">
              <label class="form-label form-inline float-left" for="memoryFrameSize">Frames:</label>
              <label class="form-label form-inline float-right" id="memoryFrameSizeValue" for="memoryFrameSize">6</label>
              <input class="slider tooltip" type="range" min="2" max="12" value="6" oninput="this.setAttribute('value', this.value);updateSliderValue('memoryFrameSize', 'memoryFrameSizeValue');" id="memoryFrameSize">
            </div> 
          </form>       
          <div class="divider text-center" data-content="Table" id="memoryTableDivider"></div>
          <div id="memoryTable"></div>
        </div>
      </div>
    </div>

    </div>
  </div>
</main>
<script src="{{ url_for('frontend', path='/static/script.js') }}"></script>
<script src="{{ url_for('frontend', path='/static/formValidation.js') }}"></script>
<script src="{{ url_for('frontend', path='/static/chartHandling.js') }}"></script>
{% endblock%}
